[flake8]
max-line-length = 79
ignore = E501, E203, W503
max-complexity = 18
select = B,C,E,F,W,T4,B9
per-file-ignores = __init__.py:F401
exclude =
    .git
    __pycache__
    setup.py
    build
    dist
    releases
    .venv
    .tox
    .mypy_cache
    .pytest_cache
    .vscode
    .github
    scripts/
    tests/
